

.featured img {
    position: relative;
    width: 100%;
    /* height: 95vh; */
    height: 1000px;
}


.featured .content {
    position: absolute;
    bottom: 280px;
    width: 100%;

}

.featured .content img {
    position: absolute;
    width: 350px;
    height: 300px;
    bottom: 150px;
    left: 50px;
}

.featured p {
    position: absolute;
    bottom: -2rem;
    left: 4rem;
    color: white;
    /* white-space:pre-wrap; */
    /* word-wrap: break-word; */
    max-width: 350px;
    font-size: larger;


}

.category {
    position: absolute;
    top: 80px;
    left: 50px;
    font-size: 30px;
    font-weight: 500;
    color: white;
    display: flex;
    align-items: center;
    z-index: 1;
}

.category select {
   
        cursor: pointer;
        background-color: var(--main-color);
        border: 1px solid white;
        color: white;
        margin-left: 20px;
        padding: 5px;
}
